<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Weather</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="loading d-flex justify-content-center"><b>Loading...</b></div>
        <div class="weatherData">
          <div class="row">
            <div class="col d-flex align-items-center">
                <div id="weatherImage">
                    <img width="80" height="80"></img>
                </div>
                <div>
                  <b id="weatherTemperature" class="display-4"></b>°C
                </div>
            </div>
            <div class="col d-flex align-items-center">
                <div id="weatherDescription" class="h3"></div>
            </div>
            <div class="col d-flex align-items-center">
                <div>
                    <div id="weatherHumidite" class="text-muted"></div>
                    <div id="weatherWind" class="text-muted"></div>
                </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>