{% extends 'base.html.twig' %}

{% block title %}Les continents{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
    {% for continent in listContinent %}
    <div class="col-lg-4 mb-4 mt-4">
        <a class="aContinent" href="{{ path('countrieByContinent', {'sCode': continent.sCode}) }}">
            <div class="card text-center font-weight-bold p-5 shadow p-3 mb-5 rounded cardContinent">
                {{continent.sName}}
            </div>
        </a>
    </div>
    {% endfor %}    
    </div>
</div>
{% endblock %}
